{{>components/header}}

<div class="row align-item-center">
    <div class="col">
        <div id="list-example" class="list-group">
            <a class="list-group-item list-group-item-action" href="#list-item-1">이름</a>
            <a class="list-group-item list-group-item-action" href="#list-item-2">학과</a>
            <a class="list-group-item list-group-item-action" href="#list-item-3">학번</a>
            <a class="list-group-item list-group-item-action" href="#list-item-4">생년월일</a>
            <a class="list-group-item list-group-item-action" href="#list-item-5">전화번호</a>
            <a class="list-group-item list-group-item-action" href="#list-item-6">이메일</a>
            <a class="list-group-item list-group-item-action" href="#list-item-7">질문 1</a>
            <a class="list-group-item list-group-item-action" href="#list-item-8">질문 2</a>
            <a class="list-group-item list-group-item-action" href="#list-item-9">질문 3</a>
        </div>
    </div>

    {{#apply}}

    <div class="col-8 p-2 mb-2 pr-4">
        <div class="h2 pb-2 mb-4 text-danger border-bottom border-primary">
            <p class="fs-2">{{id}}번째 지원자</p>
        </div>
        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example border border-success p-2 mb-2" tabindex="0">
            <!--  -->

            <div class="p-2">
                <h2>지원자 정보</h2>
            </div>

            <div class="p-2">
                <h4 id="list-item-1">이름</h4>
                <div class="border border-success p-2 mb-2"><p>{{name}}</p></div>
            </div>
            <div class="p-2">
                <h4 id="list-item-2">소속 학과</h4>
                <div class="border border-success p-2 mb-2"><p>{{major}}</p></div>
            </div>
            <div class="p-2">
                <h4 id="list-item-3">학번</h4>
                <div class="border border-success p-2 mb-2"><p>{{studentId}}</p></div>
            </div>
            <div class="p-2">
                <h4 id="list-item-4">생년월일</h4>
                <div class="border border-success p-2 mb-2"><p>{{birth}}</p></div>
            </div>
            <div class="p-2">
                <h4 id="list-item-5">전화 번호</h4>
                <div class="border border-success p-2 mb-2"><p>{{phoneNumber}}</p></div>
            </div>
            <div class="p-2">
                <h4 id="list-item-6">이메일</h4>
                <div class="border border-success p-2 mb-2"><p>{{email}}</p></div>
            </div>
            <div class="p-2">
                <h2>질문 목록</h2>
            </div>
            <div class="p-2">
                <h4 id="list-item-7">1. 간단한 자기소개와 지원동기를 작성해주세요! (공백 포함 300자 이내)</h4>
                <div class="border border-success p-2 mb-2"><p>{{question1}}</p></div>
            </div>
            <div class="p-2">
                <h4 id="list-item-8">2. 살면서 어떠한 문제를 해결한 경험이 있나요? 그 문제를 어떻게 해결했는지, 이를 통해 무엇을 배웠고 느꼈는지 구체적으로 설명해주세요! 사소한 경험이라도 괜찮습니다. (공백 포함 300자 이내)</h4>
                <div class="border border-success p-2 mb-2"><p>{{question2}}</p></div>
            </div>
            <div class="p-2">
                <h4 id="list-item-9">3. 만들고 싶거나 관심있는 웹서비스, 혹은 하고싶은 스터디를 작성해주세요! (공백 포함 300자 이내)</h4>
                <div class="border border-success p-2 mb-2"><p>{{question3}}</p></div>
            </div>
        </div>
    </div>
    {{/apply}}
</div>


<form class="row justify-content-center p-5" action="/apply{{apply.id}}/update" method="post">
    <div class="col-md-6 mb-3 text-center">
        <button type="submit" name="state" value="pass" class="btn btn-success text-white w-100 px-3">합격</button>
    </div>
    <div class="col-md-6 mb-3 text-center">
        <button type="submit" name="state" value="fail" class="btn btn-danger text-white w-100 px-3">불합격</button>
    </div>
</form>


{{>components/footer}}