{{>components/header}}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h2 class="card-title">지원 결과</h2>
                </div>
                <div class="card-body text-center">
                    <div id="stateMessage"></div>
                </div>
                <div class="card-footer text-center">
                    <a href="/" class="btn btn-primary">돌아가기</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var applyStatus = "{{apply.state}}";
        console.log("applyStatus: " + applyStatus); // 콘솔에 변수 값 출력
        var stateMessageDiv = document.getElementById("stateMessage");
        console.log("stateMessageDiv: ", stateMessageDiv); // 추가된 콘솔 로그
        if (applyStatus === "pass") {
            stateMessageDiv.innerHTML = '<div class="alert alert-success" role="alert">합격하셨습니다!</div>';
        } else if (applyStatus === "fail") {
            stateMessageDiv.innerHTML = '<div class="alert alert-danger" role="alert">불합격하셨습니다.</div>';
        } else {
            stateMessageDiv.innerHTML = '<div class="alert alert-warning" role="alert">상태 정보가 없습니다.</div>';
        }
    });
</script>
{{>components/footer}}
